.successmain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #000235;
}
.successmain h1{
    font-size: 2rem;
    color: white;
    margin: 0;
    padding: 0;

}
.successmain h2{
    font-size: 1.5rem;
    color: white;
    margin: 0;
    padding: 0;
}
