:root {
  --main-color: #000235;
  --main-font-color: #f5f5ff;
  --main-font-faded: #ffffff6f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

#submit {
    padding: 0.92rem;
    margin-top: 17.75rem;
    width: 30rem;
    border: none;
    border-radius: 0.4rem;
    background: linear-gradient(to bottom right, #66F6FF, #143DA9);
    color: var(--main-font-color);
    cursor: pointer;
}

@media screen and (max-width: 1110px) {
  #submit {
    width: 25rem;
    margin-top: 12.85rem;

  }
}

@media screen and (max-width: 840px) {
  #submit {
    width: 30rem;
    margin-top: 5rem;

  }
}

@media screen and (max-width: 475px) {
  #submit {
    width: 21rem;
    margin-top: 4rem;

  }
}