.pagemaindyn {
    width: 100%;
    height: 100vh;
    background-color: #000235;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }

  
  .pagedyn {
      display: flex;
      align-items: center;
      justify-content: center;
      /* background: rgba(255, 255, 255, 0.2);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px); */
      /* border: 1px solid rgba(255, 255, 255, 0.3); */
      width : 100%;
      padding-left: 2.5rem;
      height : 80vh;
      position: relative;
      z-index: 1;
      min-width: 400px;  
      margin: 0rem 0rem;
      margin-bottom: 2rem;
      flex-direction: row;
      font-weight: 300;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      font-size: 0.9rem;
  }
  
  .phoneprice {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    height: 100%;
    position: relative;
    z-index: 1;
  }
  .phoneprice h3 {
    font-size: 1.5rem;
    font-weight: 300;
  }
  
  .descript {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: space-evenly;
    width: 50%;
    height: 100%;
    position: relative;
    z-index: 1;
    padding: 0rem 2rem;
    text-align: justify;
    line-height: 1.5;
  }
  .descript h4{
    font-size: 1.2rem;
  }
  
  .descripttwo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15rem;
  
  }
  .descripttwo h2{
    font-size: 1.5rem;
    font-weight: 300;
  }
 
  .ovalblurdyn {
    position: absolute;
    width: 100%;
    height: 90vh;
    -webkit-background: radial-gradient(ellipse at right, rgba(102, 246, 255) 15%, rgba(102, 246, 255,0.2) 15%, rgba(102, 246, 255,0) 100%);
    -moz-background: radial-gradient(ellipse at right, rgba(102, 246, 255) 15%, rgba(102, 246, 255,0.2) 15%, rgba(102, 246, 255,0) 100%);
    -o-background: radial-gradient(ellipse at right, rgba(102, 246, 255) 15%, rgba(102, 246, 255,0.2) 15%, rgba(102, 246, 255,0) 100%);
    -webkit-filter: blur(100px);
    -moz-filter: blur(100px);
    -o-filter: blur(100px);
    background: radial-gradient(ellipse at right, rgba(102, 246, 255) 15%, rgba(102, 246, 255,0.2) 15%, rgba(102, 246, 255,0) 100%);
    filter: blur(100px);
    z-index: 1;
  }

.actionbutton {
    margin: 0 0.4rem;
    border: 2px solid white;
    padding: 0.5rem;
    border-radius: 0.6rem;
    cursor: pointer;
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actionbutton:active {
  transform: scale(0.95);
}

.hiddh2 {
  display: none;
}

.descript h3{
  display: none;
}

@media screen and (max-width: 780px) {
  .pagedyn {
    flex-direction: column;
    height: 137vh;
    margin-top: 2rem;
    
  }
  .descript h3{
    font-size: 0.8rem;
    font-weight: 300;
  }
  .phoneprice img {
    margin: 3rem 0rem;
  }
  .pagemaindyn {
    min-height: 140vh;
  }
  .phoneprice {
    width: 100%;
    height: 50%;
    
  }

  .descript {
    width: 100%;
  }
  .descript span{
    display: none;
  }
  .hiddh2 {
    display: block;
    font-size: 0.9rem;
  }
  .descript h4{
    display: none;
  }
  .descript h3 {
    font-size: 1.2rem;
    text-align: center;
  }

}

@media screen and (max-width: 564px) {
  .pagedyn {
    width: 26.2rem;
    margin-top: 1rem;

  }
}

@media screen and (max-width: 450px) {
  .pagedyn {
    width: 23rem;
    min-width: 300px;
      
  }
  .pagedyn img{
    padding-right: 1rem;
    margin-left: 0rem;
  }
  .phoneprice {
    padding-left: 1rem;
  }
  
}
@media screen and (max-width: 428px) {
  .pagedyn {
    width: 22.3rem;
    padding-top: 0rem;
    height: 160vh;

  }
  .pagemaindyn {
    height: 173vh;
  }
}


