.cartmain {
    width: 100%;
    min-height: 100vh;
    background-color: #000235;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: left;

  }

  .cartpage {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

  .cartitem {
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 1;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
    padding-left: 6.3rem;

  }

  .prodnamewraps {
    height: 4rem;
    width: 15rem;
    margin-left: 2rem;
    
  }

  .ovalblur {
    position: absolute;
    width: 100%;
    height: 90vh;
    background: radial-gradient(ellipse at right, rgba(102, 246, 255) 15%, rgba(102, 246, 255,0.2) 15%, rgba(102, 246, 255,0) 100%);
    filter: blur(230px);
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
  }


  .ovalblurtow {
    position: absolute;
    width: 100%;
    height: 90vh;
    background: radial-gradient(ellipse at left, rgba(153, 78, 188) 20%, rgba(153, 78, 188,0.2) 20%, rgba(153, 78, 188,0) 100%);
    filter: blur(100px);
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
  }

.button {
  margin: 0 0.4rem;
  border: 2px solid white;
  padding: 0.5rem;
  border-radius: 0.6rem;
  cursor: pointer;
  background-color: #000235;
  color: white;
  
}

.button:hover {
  background-color: #fff;
  color: #000235;
}
.qty {
  padding: 0rem 2rem;
  border: 1px solid white;
  width: 1rem;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.addminu {
  padding: 0.5rem 1rem;
  border: 1px solid white;
  margin: 1rem;
  border-radius: 5rem;
  cursor: pointer;

}
.exempt {
  padding: 0.5rem 1rem;
  border: 1px solid white;
  margin: 1rem;
  border-radius: 5rem;
  cursor: pointer;
}