.cartmain {
    width: 100%;
    height: 125vh;
    display: flex;
    flex-direction: column;
    color: var(--main-font-color);
    background-color: var(--main-color);
    
  }
  .backbutton {
    padding: 0.92rem;
    margin-top: 0.94rem;
    width: 10rem;
    border: none;
    border-radius: 0.4rem;
    background: linear-gradient(to bottom right, #66F6FF, #143DA9);
    cursor: pointer;
    color: var(--main-font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    
  }
  .cartmainnoprod {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--main-font-color);
    background-color: var(--main-color);
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 5;

  }
  .top{
    width: 100%;
    height: 14%;
    display: flex;
    justify-content: space-evenly;
    padding-left: 3.2rem;
    flex-direction: column;

  }
  .wrapp {
    display: flex;
    width: 12rem;
    justify-content: space-between;
    align-items: center;
    

  }
  .wrapp img {
    cursor: pointer;
    position: relative;
    z-index: 2;
    
  }

  .links {
    display: flex;
    
  }
  .checkoutpg {
    color: var(--main-font-faded);

  }

  .top h1 {
    font-size: 2rem;
  }
  .divwrapper {
    width: 100%;
    height: 86%;
    display: flex;

  }

  .divleft {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;

  }

  .stepper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: flex-start;
    padding-left: 3rem;
    padding-top: 3rem;

  }
  .imgwrap {
    display: flex;
    flex-direction: column;
    
  }
  .nameof {
    padding-top: 1rem;
  }
  .nameoftow {
    padding-top: 1rem;
    color: var(--main-font-faded);

    
  }
  .nameofthree {
    padding-top: 1rem;
    color: var(--main-font-faded);
    position: relative;
    right: 0.9rem;
  }
  .cartpage h2 {
    font-size: 1.5rem;
    padding-left: 3rem;
    padding-top: 3rem;
    
  }
  .cartpage label {
    font-size: 0.8rem;
    padding-bottom: 1rem;
    font-weight: 300;

  }
  .forminputs {
    display: flex;
    flex-direction: column;
  }
  .forminputs input {
    height: 2rem;
    border-radius: 0.4rem;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    width: 12rem;
    color: var(--main-font-color);
    
  }

  .frminputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 33rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
  }
  .btn {
    padding: 0.92rem;
    margin-top: 6.94rem;
    margin-left: 2.9rem;
    width: 70%;
    border: none;
    border-radius: 0.4rem;
    background: linear-gradient(to bottom right, #66F6FF, #143DA9);
    color: var(--main-font-color);
    cursor: pointer;
  }
  .btn:active {
    transform: scale(0.95);
  }
  
  
  .divright {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
  }
  .tiyle {
    padding-bottom: 2rem;
  }
  .productwrapp {
    overflow: auto;
  }
  .total {
    padding-top: 2rem;
    height: 40%;
  }
  .binwrapp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 2.9rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
  .binwrapp img {

    cursor: pointer;
  }
  .binwrapp img:active {
    transform: scale(0.95);
  }
  
  .itemqtywrap {
    display: flex;
    flex-direction: row;
    width: 6rem;
    justify-content: space-between;
    padding: 1.4rem 0rem;
    align-items: center;
    
 
  }
  .quantity {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 2.9rem;
    
  }
  .addremoveitm {
    border: 1px solid var(--main-font-faded);
    padding: 0.3rem 0.7rem;
    cursor: pointer;
  }
  .addremoveitm:active {
    transform: scale(0.95);
  }
  .totalline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 2.9rem;
    padding-top: 1rem;

  }
  .btntwo {
    padding: 0.75rem;
    margin-top: 2rem;
    width: 70%;
    border: 1px solid var(--main-font-faded);
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btntwo img {
    margin-right: 1rem;
  }

  .ovalblur {
    position: absolute;
    width: 100%;
    height: 90vh;
    background: radial-gradient(ellipse at right, rgba(102, 246, 255) 15%, rgba(102, 246, 255,0.2) 15%, rgba(102, 246, 255,0) 100%);
    filter: blur(100px);
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
  }

  .divright .btn {
    display: none;
    
  }
  .divleftsmallsize {
    display: none;
  }

  @media screen and (max-width: 990px) {
    .divleftsmallsize {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      
    }

    .frminputs {
      padding: 1rem;
      
    }
    .forminputs {
      display: flex;
      flex-direction: column;
      align-items: center;
      
    }

    .divright .btn {
      display: block;
      margin-top: 3rem;
      width: 70%;
      margin-left: 0;
      

    }
    .frminputs input {
      width: 14rem;
    }
    .cartmain {
      height: 280vh;
    }
    .divleft {
      display: none;
    }
    .divright {
      width: 100%;
      flex-direction: column;
      align-items: center;
      
    }
    .divright .btn{
      width: 90%;
      flex-direction: column;
      align-items: center;
    }
    .btntwo {
      width: 90%;
    }
    .total {
      width: 36rem;
      padding-left: 0;

    }
    .tiyle {
      padding-bottom: 2rem;
      padding-left: 3.2rem;
      padding-top: 2rem;
    }
    .productwrapp {
      padding-left: 3rem;
    }
    .binwrapp {
      padding-right: 3.3rem; 
    }
    .quantity {
      padding-right: 3.3rem;
    }
    .total {
      padding-left: 3rem;
    }
  }
  @media screen and (max-width: 600px) {
    .frminputs input {
      width: 12rem;
    }
    .frminputs {
      padding: 0.75rem 1rem;
    }

  }
  @media screen and (max-width: 550px) {
    .frminputs input {
      width: 12rem;
    }
    .frminputs {
      padding: 0.75rem 2.9rem;
    }
    .total {
      width: 96%;
    }
  }


  @media screen and (max-width: 475px) {
    .frminputs {
      flex-direction: column;
      width: 100%;
      align-items: center;
    }
    .frminputs input {
      width: 22rem;
    }
    .frminputs label {
      padding-top: 0.5rem;
    }
    .divleft h2 {
      text-align: center;
    }
    .stepper {
      display: none;
    }
    .cartpage h2 {
      margin-top: 0;
      padding-top: 0;
      
    }
    .cartpage:nth-child(3) h2 {
      margin-top: 2rem;
      
    }
    .top {
      padding-left: 1.5rem;
      height: 30vh;

    }
    .wrapp {
      width: 14.2rem;
    }

    .fxqfrminputs {
      padding: 0.75rem 0rem;

    }
    .total {
      width: 96%;
      
    }
    .tiyle {
      padding-right: 4rem;
      
    }
    .productwrapp {
      min-height: 18%;
  
    }

 

  }


