.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-color: var(--main-color);
  align-items: center;
}

.divleft {
min-width: 15.8rem;
height: 25rem;
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
margin: 3.2rem;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-webkit-transform: translate3d(0, 0, 0);
-moz-transform: translate3d(0, 0, 0);
color: var(--main-font-faded);
}

.divright {
width: 80%; 
height: 100vh;
margin: 3.2rem;
color: var(--main-font-color);
}

.divright h1 {
  font-size: 2.4rem;
  font-weight: 600;
  padding: 1.2rem;
  color: var(--main-font-color);
  text-align: center;
}

.profileH {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--main-font-color);
  
}

.divwrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-top: 0.1rem;
}

.divwrap img {
  margin: 0.8rem;
}

.ovalblur {
  position: absolute;
  width: 100%;
  height: 90vh;
  background: radial-gradient(ellipse at right, rgba(102, 246, 255) 15%, rgba(102, 246, 255,0.2) 15%, rgba(102, 246, 255,0) 100%);
  filter: blur(100px);
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}